<div class="content-container default-content-container">
<%= link_to 'Add new task', url_for(:controller => :ticket, :action => :create) %><br><br>
<span class="txt-highl">All tickets:</span><br>
<hr>
<% @tickets.each do |ticket| %>
  |<%= ticket.id %>| <%= ticket.ticket %>
  <%= link_to 'Remove', url_for(:controller => :ticket, :action => :destroy, :ticket => ticket.ticket) %>
  <br>
<% end %>
</div>

<%# @articles.each do |article| %>
<!--  <tr>-->
<!--    <td><%#= article.title %></td>-->
<!--    <td><%#= article.text %></td>-->
<!--    <td><%#= link_to 'Show', article_path(article) %></td>-->
<!--  </tr>-->
<%# end %>